:body {
  --padding-top: 0px;
}

html {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
}

.header {
  height: 18vh;
  background-color: mistyrose;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: #666666;
}

.navbar-menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.navbar-menu > * {
  flex-basis: 190px;
}


h1 {
  letter-spacing: 1px;
  font-family: 'comic-sans';
  width: 100%;
}
