:body {
  --padding-top: 0px;
}

html {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 1500px;
  margin: 20px auto;
  background: #edfbef;
  padding:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(0.98);
  transition: transform 0.5s;
  letter-spacing: 1px;
  font-family:'Fira Mono', monospace;
  border: solid  4px mistyrose;
}

header {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  height: 15vh;
  background-color: mistyrose;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
  color: white;
}

h1 {
  letter-spacing: 1px;
  font-family: 'comic-sans';
  width: 100%;
}
