.selector {
  display: flex;
  flex-wrap: wrap;
}

.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
  margin: 3px;
  border: 2px solid mistyrose;
  border-radius: 4px;
  cursor: pointer;
}

.select-box.selected {
  border: 2px solid #265DF1;
  background-color: #EFF6FF;
}

.select-box.selected.faved {
  border: 2px solid gold;
  background-color: #DDE3AB;
}

.select-box:hover {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.06)
}

.box-topic {
  font-size: 1em;
  font-family: "Neue-Haas-Grotesk-Text-Regular", "Helvetica Neue", "Helvetica", "sans-serif";
  letter-spacing: 0.1px;
  line-height: 1.45em;
  font-weight: normal;
  color: #666666;
}

form > h1 {
  font-family: "Neue-Haas-Grotesk-Text-Regular", "Helvetica Neue", "Helvetica", "sans-serif";
  color: #666666;

}

button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.eth-usd {
  margin-left: 5px;
}

.main-topic {
  align-self: flex-end;
  margin-bottom: 16px;
  margin-right: 8px;
}

.form-error {
  border: 2px solid red;
  border-radius:  3px;
  padding: 6px;
  background-color: #ffdae8;
  animation: blinker .3s linear;
  max-width: 800px;
  /* opacity: 0; */

}

@keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.petition-form {
  display: flex;
}
.card-preview {
  margin-left: 13px;
}
