footer {
  background-color: mistyrose;
  /* border: 4px double (red, _ <); */
  display:flex;
  flex-direction: column;
  height: 22vh;
  margin: 5px;
  color: #666666;
}

.dev-p {
  font-size: 13px;
  margin: 6px;
}

.regular-p {
  font-size: 13px;
  margin: 6px;
}

.footer-p{
  display: flex;
  justify-content: center;
}

.footer-icons{
  font-size: 60px;
}

.footer-icons > a {
   text-decoration:none;
   color: inherit;
}
