/* PAGE */

body {
  background-color: #f8fff8;
  color: #666666;
}

body,


.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  padding: .25rem;
  margin: 0 .25rem;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 600px;
  padding: 45px 20px;
  margin: 0 auto;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li:not(:last-child) {
  margin-bottom: 15px;
}

.site-wrap {
  max-width: 1500px;
  margin: 20px auto;
  background: #edfbef;
  padding:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(0.98);
  transition: transform 0.5s;
  letter-spacing: 1px;
  font-family:'Fira Mono', monospace;
  border: solid  4px mistyrose;
}
/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

/* ALERTS */

.alert {
  padding: .5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}
