.section-header{
  text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33vw;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.card-topic {
  display: flex;
  max-height: 250px;
  align-items: center;
}

.card-topic img {
  margin: 7px;
  flex-grow: 1;
  flex-basis: 200px;
  min-width: auto;
}
.card-topic div {
  flex-grow: 2;
  flex-shrink: 8;
  flex-basis: 500px;
  margin: 7px;
}

.card-title {
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  align-items: center;
}

.card-title h1 {
  text-align: center;
  min-width: 0;
  flex-grow: 4;
}

.card-title .button {
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 32px;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: pink;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
    flex: 1
}


.card-body > p {
  min-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  margin: 7px;
  width: 40%;
}
